# Toolchain config
ARCH      := arm
CC        := deps/coreboot/util/crossgcc/xgcc/bin/arm-eabi-gcc
AS        := deps/coreboot/util/crossgcc/xgcc/bin/arm-eabi-as
LD        := deps/coreboot/util/crossgcc/xgcc/bin/arm-eabi-gcc
OBJCOPY   := deps/coreboot/util/crossgcc/xgcc/bin/arm-eabi-objcopy
SHELL     := /bin/bash

# Build flags
DEBUG     := no
ASFLAGS   := -march=armv7-a -mcpu=cortex-a15
CFLAGS    := -c -ffreestanding -Wall -Wextra -MD \
             $(ADDL_CFLAGS) $(KERNELOPTS) -Iinclude
LDFLAGS   := -T arch/arm/link.ld -Xlinker -Map=odyssey.map -nostdlib -lgcc
NPROCS    := $(shell grep -c ^processor /proc/cpuinfo)

# Qemu configuration settings
QEMU      := qemu-system-arm
QEMU_ARGS := -M vexpress-a15 -cpu cortex-a15 -nographic
MEMORY    := 1024
ISO       := odyssey.iso

# BIOS ROM images
CBROM     := deps/coreboot/build/coreboot.rom
EFIBIOS   := /usr/share/ovmf/OVMF.fd
