# Toolchain config
ARCH      := x86
# options: gcc, clang
CC        := ../deps/coreboot/util/crossgcc/xgcc/bin/i386-elf-gcc
# options: gcc, nasm
AS        := ../deps/coreboot/util/crossgcc/xgcc/bin/i386-elf-gcc
LD        := ../deps/coreboot/util/crossgcc/xgcc/bin/i386-elf-gcc
OBJCOPY   := ../deps/coreboot/util/crossgcc/xgcc/bin/i386-elf-objcopy
SHELL     := /bin/bash

# Build flags
DEBUG     := no
ASFLAGS   := -felf
CFLAGS    := -c -ffreestanding -Wall -Wextra -MD -Wno-div-by-zero \
             $(ADDL_CFLAGS) $(KERNELOPTS) -Iinclude
LDFLAGS   := -T x86/link.ld -nostdlib -lgcc
NPROCS    := $(shell grep -c ^processor /proc/cpuinfo)

# Qemu configuration settings
QEMU      := qemu-system-x86_64
QEMU_ARGS := #-usb -device usb-kbd
MEMORY    := 32
ISO       := odyssey.iso

# BIOS ROM images
CBROM     := deps/coreboot/build/coreboot.rom
EFIBIOS   := /usr/share/ovmf/OVMF.fd
